AccessModifierOffset: -4
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 120
IndentWidth: 4
IndentPPDirectives: AfterHash
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
